$color-white: #ffffff;
$color-title: #303030;
$color-description: #707070;
$color-primary: #219CEB;
$color-secondary: #F26322;
$color-thrid: #9B5C8F;
$color-white-fake: #FAFBFD;
$color-phone-text: #0252B4;
$color-border-form:#ECF2FF;
$color-border-form-input:#CCCCCC;
$color-border-line:#EEEEEE;
$color-button-edit:#F8F8F8