.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	padding: 0 15px;
	text-align: center;
	margin: 0 0 2.992em 0;
	display: flex;
	width: 25%;
	&:hover {
		.button {
			display: inline-block;
		}
	}
}
.woocommerce .products ul, .woocommerce ul.products {
	max-width: 1170px;
	margin: 0 auto;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	font-weight: 600;
	text-align: center;
	word-spacing: 2px;
}
.woocommerce ul.products li.product .star-rating {
	display: none;
}
.woocommerce ul.products li.product .price {
	font-size: 13px;
	line-height: 33px;
	font-weight: 600;
	text-align: center;
	color: #0ca8c9;
	letter-spacing: -0.2px;
	word-spacing: 8px;
}
.woocommerce ul.products li.product .onsale {
	top: 10px;
	right: 25px;
}
.woocommerce ul.products li.product a img {
	background-color: #f5f5f5;
}
.woocommerce ul.products li.product .button {
	display: none;
	position: absolute;
	bottom: 26%;
	left: 50%;
	transform: translate(-50%, 0);
}
.woocommerce-products-header {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.filter-shop {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
