.cct_widget_info-heading {
  padding-top: 50px;
  @media (max-width: 1199px) {
    padding-top: 25px;
  }

  h1, h2, p {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .info_heading {
    h2 {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: $color-title;
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
        line-height: 28px;
      }
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: $color-title;
      margin: 15px 0 40px 0;
      @media (max-width: 1199px) {
        margin: 7px 0 20px 0;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin: 5px 0 10px 0;
        font-size: 28px;
        line-height: 45px;
      }
      @media (max-width: 767px) {
        font-size: 26px;
        line-height: 43px;
      }
    }

    p {
      font-weight: 300;
      font-size: 45px;
      line-height: 67px;
      letter-spacing: 0.2em;
      color: $color-phone-text;
      @media (max-width: 1199px) {
        font-size: 38px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 28px;
        line-height: 38px;
      }
      @media (max-width: 767px) {
        font-size: 38px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }

}
